body{
    margin: 0;
    padding: 0;
    font-family: "New York", "Iowan Old Style", "Apple Garamond", Baskerville, "Times New Roman", "Droid Serif", Times, "Source Serif Pro", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

@font-face {
    font-family: Alfie;
    src: url(../../media/Alfie\ Casual.ttf);
}

/* .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}  */

.sectionDuHaut {
    position: relative;
    display: flex;
    flex-direction:column;
    align-items: left;
    justify-content: center;
}

.sectionDuHautCont {
    display: flex;
    width: 100%;
    position: relative;



}



.imageFondALIMAN {
    width: 100%;
    position: relative; 
}

.imageFondALIMAN img {
    width: 100%;
}

.bulleAllArticle {
    display: flex;

    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
} 

.newtest {
    width: 72em;
    padding: 3em;
    display: flex;
    
    justify-content: flex-end;
}

.bulleFinal {
    background-color: #ffffff;
    height: 195.391px;
    width: 472.500px;
    border-radius: 20px;
}

.AllArticle {
    padding: 0em;
    display: flex;
    flex-direction: column;
    padding-top: 42px;
    padding-bottom: 42px;
    padding-left: 36.750px;
    padding-right: 36.750px;
    color: #0e1b4d;
}

.AllArticle h2 {
    font-family: Alfie;
    font-size: 33.6px;
    line-height: 41.16px;
    font-weight: 150;
    margin-top: 0;
}

.banne_button {
    width: 128PX;
    height: 49px;
    background-color: #0e1b4d;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 41px;
    transition: all 0.1s ease-in-out;
}

.banne_button:hover {
    transform: scale(1.02);
    box-shadow: 
    -10.5px -10.5px 10.5px -10.5px rgba(0, 0, 0, 0.05), 
    10.5px 10.5px 10.5px -10.5px rgba(0, 0, 0, 0.05), 
    0px 0px 5.25px 0px rgba(255, 255, 255, 0), 
    0px 21px 36.75px -21px rgba(0, 0, 0, 0.5);
}

.banne_button a{
    color: #ffffff;
    padding: 0.9em;
    border-radius: 41px;
    padding-left: 2.6em;
    padding-right: 2.6em;
    text-decoration: none;
    line-height: 18.75px;
    font-size: 15.75px;
    letter-spacing: 1.05px;

}


.hidden1 {
    opacity: 0;
    transform: translateY(2%);
    transition: all 0.8s cubic-bezier(0, 0, .3, 1);
}

.show {
    opacity: 1;
    transform: translateY(0);
}

.bulleAllArticlev2 {
    display: none;
    padding: 2em;
}

.bulleAllArticlev2 h2{
    font-family: Alfie;
    font-size: 28px;
    line-height: 41.16px;
    font-weight: 150;
    margin-top: 0;
    color: #0e1b4d;
}



/* SECTION DU BAS */



.sectionDuBas1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fae3e9;
    padding: 2.7em;
    padding-bottom: 4em;

}

.containerSectionBAs {
    width: 80em;
}

.collectionText h2{
    color: #970028;
    font-family: Alfie;
    line-height: 41.16px;
    font-size: 37px;
    font-weight: 150;
    letter-spacing: 0.84px;
}


.collectionCARD {
    display: flex;
    justify-content: left;
    
}

.lesCard {
    display: flex;
    gap: 2em;
    flex-wrap: wrap; /* Allow cards to wrap onto new rows */


}

.newCard {

    font-family: Alfie;
    font-weight: 100;
    background-color: #ffffff;
    border: #0e1b4d solid 1.9px;
    border-radius: 1.3em;
    color: #0e1b4d;
    width: 19em;
    height: 33em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    
    transition: transform 0.2s ease-out;

}


.newCard:hover{
    cursor: pointer;
    transform: rotate(0.6deg);
    box-shadow: rgba(0, 0, 0, 0.05) -10.5px -10.5px 10.5px -10.5px, 
                rgba(0, 0, 0, 0.05) 10.5px 10.5px 10.5px -10.5px, 
                rgba(255, 255, 255, 0) 0px 0px 5.25px 0px, 
                rgba(0, 0, 0, 0.5) 0px 21px 36.75px -21px;
    transition: transform 1s ease-out
    
}

.newCard:hover .lienProduit{
    text-decoration: underline;

    
}


.imgPrincipalContainer {
    height: 21em;
    overflow: hidden;
}

.imageProduitPrincipal {
    transition: transform 0.3s ease-in-out; 

}

.newCard:hover .imageProduitPrincipal {
    transform: scale(1.1); /* Adjust the scale factor as needed */
    transition: transform 1s ease-in-out; 
}



.basCard {
    width: 85%;


}

.basCard a{
    font-weight: lighter;
    font-size: 1.1em;


}

.basCard h2{
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    margin-top: 0;
    position: relative;
    bottom: 0.5em;

}


.bouttonClass {
    display: flex;
    justify-content: center;

}


.basCard button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    width: 15.5em;
    height: 3.5em;
    border-radius: 40px;
    border: #0e1b4d 2px solid;
    color: #0e1b4d;
    font-size: 15.75px;
    line-height: 18.75px;
    letter-spacing: 1.05px;
    transition: transform 0.5s ease-in-out
}


.newCard button:hover {
    cursor: pointer;
    transform: scale(1.02);
    border: #0e1b4d 3px solid;
    box-shadow: 
    rgba(0, 0, 0, 0.05) -10.5px -10.5px 10.5px -10.5px, 
    rgba(0, 0, 0, 0.05) 10.5px 10.5px 10.5px -10.5px,   
    rgba(255, 255, 255, 0) 0px 0px 5.25px 0px,    
    rgba(0, 0, 0, 0.5) 0px 21px 36.75px -21px;

}

.hidden2 {
    opacity: 0;
    transform: translateY(10%);
    transition: all 1s cubic-bezier(0, 0, .3, 1);
}


@media (max-width: 750px) {
    .newtest {
        display: none;
        
    }
    .bulleAllArticlev2 {
        display: flex;
        align-items: left;

    }
    
    .sectionDuHaut {
        display: flex;
        align-items: left;
    }
    .basFooter {
        width: 20em;
    }


    
}
